Downloads/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.cinnamon/
.config/
.dbus
.face
.gitconfig
.gksu.lock
.gnome
.local
R/
.zsh_history
.zsh-update
.zcompdump-giulio-desktop-5.1.1
.zcompdump
.xsession-errors
.xinputrc
.wget-hsts
.fonts/
.mozilla/
.oh-my-zsh/
.pki/
.profile
.python_history
.sudo_as_admin_successful
.vim/
.viminfo
Projects/
.linuxmint/
.themes/
.xsession-errors.old
